.Container_MPlant{
    display: grid;
    grid-template:
    "PlantM_Header" 100px
    "MPlant_Body" auto;

    height: 100%;
}

/* Contenedor Titúlo CRUD */
.PlantM_Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 5px;

    background-color: var(--Primary);
}

/* Atributos Titúlo */
.PlantM_Header h1{
    font-size: 48px;
    color: var(--White);
}