.Container_EditP{
    display: grid;
    grid-template:
    "EditP_Header" 100px
    "EditP_Body" auto;

    height: 100%;
}

/* Contenedor Titúlo CRUD */
.EditP_Header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 5px;

    background-color: var(--Primary);
}

/* Atributos Titúlo */
.EditP_Header h1{
    font-size: 48px;
    color: var(--White);
}

/* Cuerpo Formulario Edit */
.EditP_Body{
    margin-top: 15px;
}

/* Formulario*/
.EditP_Form{
    background-color: var(--Gray);
    border: var(--LightGray) 1px solid;
    border-radius: 10px;
    padding: 10px;
}

/* Atributos Cuerpo Formulario */
.EditP_Form_Body{
    display: flex;
    justify-content: space-between;
}

/* Atributos Encabezado Formulario */
.EditP_Form_Header{
    display: flex;
    justify-content: center;
}

/* Atributos Pie Formulario */
.EditP_Form_Footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Atributos Titulo */
.EditP_Form_Header p{
    font-size: 32px;
    font-weight: 700;
    color: var(--Black);
}
/* Atributos Textfield */
.HelpTxt{
    width: 30%;
}


/*===== Modo Tablet =====*/
@media (min-width:768px) and (max-width:1023px){
    /* Atributos Cuerpo Formulario */
    .EditP_Form_Body{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .HelpTxt{
        width: 100%;
    }

    /* Atributos Titúlo */
    .EditP_Header h1{
        font-size: 42px;
        color: var(--White);
    }

}

/*===== Modo Movil =====*/
@media (max-width:767px){

    /* Atributos Cuerpo Formulario */
    .EditP_Form_Body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .HelpTxt{
        width: 100%;
    }

    /* Atributos Titúlo */
    .EditP_Header h1{
        font-size: 22px;
        color: var(--White);
    }
}